body {
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    color: slategrey;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    color: rgba(255,255,255,0.3);
}

h3 {
  color: ghostwhite;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased !important;
}

#infoBox {
  background-color: rgba(10, 10, 10, 0.1);
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
}
